<div class="header">
   <div class="first-part">
    <div class="logo">
      <span>NM's</span> Restaurent
    </div>
   <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" routerLink="recipes" *ngIf="isAuthenticated">
       Recipes 
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="Auth" *ngIf="!isAuthenticated">
      Authentication 
   </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="Shopping">
       Shopping 
    </li>
   </ul>
</div>

<div style="display: flex; justify-content:space-between; align-items:center;" *ngIf="isAuthenticated">
   <div class="logout" (click)="logout()">
      <span>Logout</span>
   </div>

   <div class="row">
      <div class="col-xs-12">
          <div class="btn-group" appRecipes>
        
           <button  type="button" 
            class="btn dropdown-toggle" >Manage Recipe <span class="caret"></span></button>
     
   
   
       <ul class="dropdown-menu">
             
               <li><a style="cursor: pointer;" (click)="savedata()" >Save Data</a></li>
               <li><a style="cursor: pointer;" (click)="onFetchdata()">Fetch Data</a></li>
       </ul>
   
   </div>
   
        
   
   
   
   
      </div>
   </div>
</div>

</div>
