.header{
    background-color: #ccc;
    padding: 15px 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

   
}
.first-part{
    display: flex;
}

.logo {
 font-size: 22px;  
 margin-top: 8px;     
 margin-right: 30px;
}
.logo span{
   color: red;
   font-size: 25px;
   font-weight: 600;
}
.list-group{
    display: flex;
  
}

li{
    cursor: pointer;
}

.logout{
background-color: rgb(55, 55, 177);
border-radius: 35px;
padding: 6px 15px;
font-weight: 18px;
margin-right: 30px;
color: #fff;


}

.logout:hover{
    background-color: transparent;
    border: 2px solid rgb(55, 55, 177);
    color: black;

}