<div class="row">
    <img [src]="element.imagepath"   alt="{{element.name}}"   class="img-responsive"     />
    <h3>{{element.name}}</h3>
    <p>{{element.description}}</p>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appRecipes>
      
         <button  type="button" 
          class="btn btn-primary dropdown-toggle" >Manage Recipe <span class="caret"></span></button>
   
 
 
     <ul class="dropdown-menu">
             <li><a  (click)="detailtoshopdata()" style="cursor: pointer;">To Shopping List</a></li>
             <li><a (click)="toeditcomp()" style="cursor: pointer;">To Recipe Edit</a></li>
             <li><a style="cursor: pointer;" (click)="ondeleterecipe()">Delete Recipe</a></li>
             <li><a style="cursor: pointer;">To Shopping List</a></li>
     </ul>
 
 </div>
 
      
 
 
 
 
    </div>
 </div>

 <div class="row">
    <div class="col-xs-12">
        <ul class="list-group" *ngFor="let ingred of  element.ingredient">
            <li class="list-group-item">
               {{ingred.name}}--{{(ingred.amount)}}
            </li>
        </ul>
    </div>
 </div>
