<div class="row">
    <img [src]="element.imagepath"   alt="{{element.name}}"   style="max-height: 50px;"      />
    <h3>{{element.name}}</h3>
    <p>{{element.description}}</p>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appRecipes>
      
         <button  type="button" 
          class="btn btn-primary dropdown-toggle" >Manage Recipe <span class="caret"></span></button>
   
 
 
     <ul class="dropdown-menu">
             <li><a >To Shopping List</a></li>
             <li><a >To Recipe Edit</a></li>
             <li><a >To Shopping List</a></li>
             <li><a >To Shopping List</a></li>
     </ul>
 
 </div>
 
 
 
 
 
 
    </div>
 
 </div>
