a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    color: black;

   
}

h3{
 color: green;       
}
.active{
    background-color: lightblue;
}