<form >
    <div class="row">
        <div class="col-xs-12">
            <label for="recipe">Recipe</label>
            <input type="text" id="recipe" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <label for="descrip">Description</label>
            <input type="text" id="descrip" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <label for="url">Image URL</label>
            <input type="text" id="url" class="form-control">
        </div>
    </div>
</form>
